<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <header class="head-home">
        <div class="header-top">
            <div class="log-search">
                <img src="./images/logo.svg" class="logo">
                <h4 class="search"><input type="text" placeholder="Buscar productos  " style="width: 80%; height:80%;"><i class="fas fa-search"></i></h4>
            </div>
            <h4 class="header-main">
            <i class="fas fa-hand-holding-usd"></i>   
            Comprá en cuotas y sin tarjeta de crédito
            </h4>
        </div>
        
        <a href="#" class="burguer-buttom">
            <i class="fas fa-bars" style="color: white;"></i>
        </a>

        <nav class="header-main-buttom-bar">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </header>
    <section>
        <img src="./images/banner.jpg" id="banner">
    </section>      
    <main>
        <h2>Basado en tu última visita</h2>
        <section class="article-section1">
            <section class="article-section2">
                <article>
                    <img src="./images/cafetera.jpg" class="image-article">
                    <h5><i class="fas fa-truck" id="shipp"></i></h5>
                    <div id="precio">
                        <h4>$6.770</h4>
                        <h5>40% off</h5>
                    </div>
                    <h6>Cafetera Moulinex</h6>
                </article>
                <article>
                    <img src="./images/macbook.jpg" class="image-article">
                    <h5><i class="fas fa-truck" id="shipp"></i></h5>
                    <div id="precio">
                        <h4>$230.000</h4>
                        <h5>20% off</h5></div>
                    </div>
                    <h6>MacBook Pro 2019</h6>
                </article>
            </section>
            <section class="article-section2">
                <article>
                    <img src="./images/s10.jpg" class="image-article">
                    <h5><i class="fas fa-truck" id="shipp"></i></h5>
                    <div id="precio">
                        <h4>$70.500</h4>
                        <h5>10% off</h5>
                    </div>
                    <h6>Samsung Galaxy S10</h6>
                </article>
                <article>
                    <img src="./images/smart.jpg" class="image-article">
                    <h5><i class="fas fa-truck" id="shipp"></i></h5>
                    <div id="precio">
                        <h4>$23.200</h4>
                        <h5>5% off</h5>
                    </div>
                    <h6>SmartTv Samsung 43"</h6>
                </article>
            </section>
        </section>
        <h2>Sección de Ofertas</h2>
        <section class="article-section1">
            <section class="article-section2">
                <article>
                    <img src="./images/cafetera.jpg" class="image-article">
                    <h5><i class="fas fa-truck" id="shipp"></i></h5>
                    <div id="precio">
                        <h4>$6.770</h4>
                        <h5>40% off</h5>
                    </div>
                    <h6>Cafetera Moulinex</h6>
                </article>
                <article>
                    <img src="./images/macbook.jpg" class="image-article">
                    <h5><i class="fas fa-truck" id="shipp"></i></h5>
                    <div id="precio">
                        <h4>$230.000</h4>
                        <h5>20% off</h5>
                    </div>
                    <h6>MacBook Pro 2019</h6>
                </article>
            </section>
            <section class="article-section2">
                <article>
                    <img src="./images/s10.jpg" class="image-article">
                    <h5><i class="fas fa-truck" id="shipp"></i></h5>
                    <div id="precio">
                        <h4>$70.500</h4>
                        <h5>10% off</h5>
                    </div>
                    <h6>Samsung Galaxy S10<h6>
                </article>
                <article>    
                    <img src="./images/smart.jpg" class="image-article">
                    <h5><i class="fas fa-truck" id="shipp"></i></h5>
                    <div id="precio">
                        <h4>$23.200</h4>
                        <h5>5% off</h5>
                    </div>
                    <h6>SmartTv Samsung 43"<h6>
                </article>
            </section>
        </section>
    </main>
    <footer>
        <section>
            <i class="fas fa-credit-card" id=card></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <h6>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</h6>
    </section>
    <section>
        <i class="fas fa-gift" id="card"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <h6>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</h6>
    </section>
    <section>
        <i class="fas fa-user-shield" id="card"></i>
        <h4>Seguridad, de principio a fin</h4>
        <h6>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</h6>
    </section>
    <section>
        <h6> Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
    </section>
    </footer>
</body>
</html>