<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body class="register">
    <div class="register-first">
        <input type="text" placeholder="Nombre y apellido" class="register-input">
    </div>
    <div class="register-first">
        <input type="text" placeholder="Nombre de usuario" class="register-input">
    </div>
    <div class="register-first">
        <input type="email" placeholder="E-mail" class="register-input">
    </div>
    <h2>Fecha de nacimiento</h2>
    <div class="register-first">
        <input type="date" class="register-input">
    </div>
    <div class="register-first">
        <input type="text" placeholder="Domicilio" class="register-input">
    </div>
    <h2>Perfil de usuario</h2>
    <div class="register-radio">
        
        <label>Comprador    </label><input type="radio">
        <label>Vendedor    </label><input type="radio">
    </div>
    <h2>Intereses</h2>
    <div class="register-checkbox">
        <input type="checkbox"><label>      Electro</label>
    </div>
    <div class="register-checkbox">
        <input type="checkbox"><label>      Moda</label>
    </div>
    <div class="register-checkbox">
        <input type="checkbox"><label>      Hogar</label>
    </div>
    <div class="register-checkbox">
        <input type="checkbox"><label>      Jugueteria</label>
    </div>
    <div class="register-checkbox">
        <input type="checkbox"><label>      Vida sana</label>
    </div>
    <div class="register-first">
        <a href="/"><button type="submit" class="log-button">Enviar</button></a>
    </div>
</div>
</body>
</html>
